.park-details {
  display:block;
  padding: 1.62em;
  border: 1px solid gray;
  border-radius: 2px;
  line-height: 1.62;
}

.park-details .name {
  display:block;
  font-size: 1.38rem;

}

.park-details .description {
  display:block;
}

.park-details a {
  display:block;
  text-decoration: none;
}
