.park-card {
  display:block;
  padding: 0.62em 1.38em;
  line-height: 1.62;
  font-size: 0.8rem;
  color: white;
  background-color: #747263;
}

.bookmark-list .park-card {
  background-color: #77943d;
}

.park-card .name {
  display:block;
}

.park-card .description {
  display:block;
}

.park-card a {
  display:block;
  text-decoration: none;
}
