.park-card {
  display:block;
  border: 1px solid gray;
  padding: 1.62em;
  margin: 1.62em;
}

.park-card .name {
  display:block;
}

.park-card .description {
  display:block;
}

.park-card a.more-information {
  display:block;
}
