.park-card {
  display:block;
  padding: 1.62em;
  border: 1px solid gray;
  border-radius: 2px;
  line-height: 1.62;
}

.park-card .name {
  display:block;
  font-size: 1.38rem;

}

.park-card .description {
  display:block;
}

.park-card a {
  display:block;
  text-decoration: none;
}
