.app {
  display: grid;
  margin: 1.62em;
  grid-gap: 1.62rem;
  
  grid-template:
    "head head" auto
    "details details" auto
    "park-list bookmarks" auto
    / 1fr 1fr;
  ;

  background-color: #fff;
  color: #444;
}

@media (max-width:640px) {
  .app {
    grid-template:
      "head" auto
      "details" auto
      "bookmarks" auto
      "park-list" auto;
    ;
  }
}

.app > .header {
  grid-area: head;
}

.app > .park-details {
  grid-area: details;
}

.app > .park-list {
  grid-area: park-list;
}

.app > .bookmark-list {
  grid-area: bookmarks;
}

.bookmark-list > .title {
  font-size: 1.62rem;
}

.bookmark-list > .park-list {
  display:block;
}

.bookmark-list > .park-list > .park-card {
  margin: 1.62rem 0;
}
