.app {
  display: grid;
  margin: 1.62em;
  grid-gap: 1.62rem;
  
  grid-template:
    "head head head" auto
    "park-list bookmarks details" auto
    / 1fr 1fr 1fr;
  ;

  background-color: #fff;
  color: #444;
}

@media (min-width: 641px) and (max-width:840px) {
  .app {
    grid-template:
      "head head" auto
      "bookmarks details" auto
      "park-list details" auto
      / 1fr 1fr;
    ;
  }
}

@media (max-width:640px) {
  .app {
    grid-template:
      "head" auto
      "details" auto
      "bookmarks" auto
      "park-list" auto;
    ;
  }
}

.app > .header {
  grid-area: head;
}

.app > .park-details {
  grid-area: details;
}

.app > .park-list {
  grid-area: park-list;
}

.app > .bookmark-list {
  grid-area: bookmarks;
}
